.container img{
    display: none;
}

img.active{
    display: inline-block;
}

i{
    cursor: pointer;
}

.slider{
   background-color: rgba(0, 0, 0, 0.651);
   padding: 15px;
   border-radius: 25px;
   display: flex;
   align-items: center;
   justify-content: space-around;

   position: absolute;
   bottom: 20px;
}

.dot{
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}

.activedot{
    background-color: blue;
}